/* Variables colors */

$footer-background-color: transparent;
$footer-border-color: transparent;
$footer-color: rgba(41, 43, 44, 0.48);
$footer-color-link: #8C99B3;
$avatar-home-radius-color: #D9D9D9;
$name-home-color: #5A5A5A;
$fa-links-home-color: #575757;
$content-color-links: #3E6ACE;
$content-color: #000000;
$btn-goback-background: #E1E1E1;
$btn-goback-color: #333;
$highlight-background-color: #DFDFDF;
$highlight-border-color: #E8E8E8;
